In [1]:
import pandas as pd

In [3]:
! dir

 Volume in drive C has no label.
 Volume Serial Number is DC66-3B64

 Directory of C:\Users\DELL\OneDrive\Desktop\Python_Test

04/21/2024  12:10 PM    <DIR>          .
04/21/2024  12:10 PM    <DIR>          ..
04/21/2024  12:10 PM    <DIR>          .ipynb_checkpoints
04/21/2024  02:46 AM             8,818 Book1.xlsx
04/21/2024  11:59 AM    <DIR>          data
04/21/2024  12:06 PM                40 example.csv
04/21/2024  11:49 AM               260 imp.txt
04/21/2024  11:24 AM                 0 tmp.ipynb
04/21/2024  12:10 PM                72 Untitled.ipynb
               5 File(s)          9,190 bytes
               4 Dir(s)  193,764,687,872 bytes free

In [4]:
df = pd.read_csv("example.csv")

In [5]:
df.head()

  col1   col2
0   jh     jh
1   jh  hjvvh
2    j     jh
3   hj      m

In [6]:
df2 = pd.read_excel("Book1.xlsx")

In [7]:
df2.head()

    d    gui
0  jh     jh
1  jh  hjvvh
2   j     jh
3  hj      m