hadling missing values:

import pandas as pd

In [159]:
import pandas as pd

In [160]:
df=pd.read_excel("companies_data.xlsx")
print(df)

   s no.   compnies    growth  percent
0      1        it      456.0     0.40
1      2      False     789.0     0.19
2      3      False       NaN      NaN
3      4        NaN     235.0     0.80
4      5     google  334477.0      NaN
5      6  microsoft       NaN     1.00

In [161]:
df.isnull()

   s no.  compnies  growth  percent
0  False     False   False    False
1  False     False   False    False
2  False     False    True     True
3  False      True   False    False
4  False     False   False     True
5  False     False    True    False

In [162]:
df.isnull()

   s no.  compnies  growth  percent
0  False     False   False    False
1  False     False   False    False
2  False     False    True     True
3  False      True   False    False
4  False     False   False     True
5  False     False    True    False

In [163]:
df.isnull()

   s no.  compnies  growth  percent
0  False     False   False    False
1  False     False   False    False
2  False     False    True     True
3  False      True   False    False
4  False     False   False     True
5  False     False    True    False

In [164]:
df.isnull().sum()

s no.       0
compnies    1
growth      2
percent     2
dtype: int64

In [165]:
df.isnull().sum().sum()

5

In [166]:
df.notnull()

   s no.  compnies  growth  percent
0   True      True    True     True
1   True      True    True     True
2   True      True   False    False
3   True     False    True     True
4   True      True    True    False
5   True      True   False     True

In [167]:
df.notnull().sum()

s no.       6
compnies    5
growth      4
percent     4
dtype: int64

In [168]:
df.notnull().sum().sum()

19

handling in missing handling

sr=pd.series([1,2,3,np.nanvalue])

In [169]:
import numpy as np
sr=pd.series([1,23,4,5])
sr

AttributeError: module 'pandas' has no attribute 'series'