In [23]:
import pandas as pd

In [24]:
df=pd.read_excel("companies_data.xlsx")
df

        date   compnies    growth  percent
0 2023-03-05        it      456.0     0.40
1 2012-04-05      False     789.0     0.19
2 2023-06-07        NaN       NaN      NaN
3 2023-07-12        NaN     235.0      NaN
4 2024-04-02     google  334477.0      NaN
5 2025-05-01  microsoft       NaN     1.00

In [25]:
df.interpolate()

C:\Users\DELL\AppData\Local\Temp\ipykernel_2976\4002874584.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate()

        date   compnies    growth  percent
0 2023-03-05        it      456.0   0.4000
1 2012-04-05      False     789.0   0.1900
2 2023-06-07        NaN     512.0   0.3925
3 2023-07-12        NaN     235.0   0.5950
4 2024-04-02     google  334477.0   0.7975
5 2025-05-01  microsoft  334477.0   1.0000

In [26]:
df.interpolate(method='polynomial',index=1)
type(df)

C:\Users\DELL\AppData\Local\Temp\ipykernel_2976\2834383492.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method='polynomial',index=1)

TypeError: pandas.core.internals.base.DataManager.interpolate() got multiple values for keyword argument 'index'

In [ ]:
df.interpolate(limit=2)

C:\Users\DELL\AppData\Local\Temp\ipykernel_2976\805236748.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(limit=2)

        date   compnies    growth  percent
0 2023-03-05        it      456.0    0.400
1 2012-04-05      False     789.0    0.190
2 2023-06-07        NaN     512.0    0.495
3 2023-07-12        NaN     235.0    0.800
4 2024-04-02     google  334477.0    0.900
5 2025-05-01  microsoft  334477.0    1.000

In [ ]:
df=pd.read_excel('companies_data.xlsx')
df

        date   compnies    growth  percent
0 2023-03-05        it      456.0     0.40
1 2012-04-05      False     789.0     0.19
2 2023-06-07        NaN       NaN      NaN
3 2023-07-12        NaN     235.0      NaN
4 2024-04-02     google  334477.0      NaN
5 2025-05-01  microsoft       NaN     1.00

In [ ]:
df.interpolat(limit=1)

AttributeError: 'DataFrame' object has no attribute 'interpolat'

In [27]:
import pandas as pd

In [28]:
df.interpolate(limit=1)

C:\Users\DELL\AppData\Local\Temp\ipykernel_2976\1270544217.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(limit=1)

        date   compnies    growth  percent
0 2023-03-05        it      456.0   0.4000
1 2012-04-05      False     789.0   0.1900
2 2023-06-07        NaN     512.0   0.3925
3 2023-07-12        NaN     235.0      NaN
4 2024-04-02     google  334477.0      NaN
5 2025-05-01  microsoft  334477.0   1.0000