In [4]:
import pandas as pd

In [6]:
df1=pd.DataFrame({'id':[1,2,3,4,5],'name':[4,5,67,8,9]})
df1

   id  name
0   1     4
1   2     5
2   3    67
3   4     8
4   5     9

In [9]:
df2=pd.DataFrame({'id':[1,2,3,4],'class':['a','b','c','d']})
df2

   id class
0   1     a
1   2     b
2   3     c
3   4     d

In [10]:
pd.merge(df1,df2,on='id')

   id  name class
0   1     4     a
1   2     5     b
2   3    67     c
3   4     8     d

In [11]:
pd.merge(df1,df2,how='left',indicator='true')

   id  name class       true
0   1     4     a       both
1   2     5     b       both
2   3    67     c       both
3   4     8     d       both
4   5     9   NaN  left_only