In [15]:
import pandas as pd

In [16]:
sr1=pd.Series([1,2,3,4])
sr1

0    1
1    2
2    3
3    4
dtype: int64

In [17]:
sr2=pd.Series([2,3,4,5])
sr2

0    2
1    3
2    4
3    5
dtype: int64

In [18]:
pd.concat([sr1,sr2])

0    1
1    2
2    3
3    4
0    2
1    3
2    4
3    5
dtype: int64

In [19]:
df=pd.DataFrame({'id':[1,3,35,67],'class':['a','s','d','f']})
df

   id class
0   1     a
1   3     s
2  35     d
3  67     f

In [20]:
df1=pd.DataFrame({'id':[1,3,35,67],'class':['a','b','c','d']})
df1

   id class
0   1     a
1   3     b
2  35     c
3  67     d

In [21]:
pd.concat([df,df1])

   id class
0   1     a
1   3     s
2  35     d
3  67     f
0   1     a
1   3     b
2  35     c
3  67     d

In [22]:
pd.concat([df,df1],axis=1)

   id class  id class
0   1     a   1     a
1   3     s   3     b
2  35     d  35     c
3  67     f  67     d

In [23]:
df=pd.DataFrame({'id':[1,3,35,67],'class':['a','s','d','f']})
df

   id class
0   1     a
1   3     s
2  35     d
3  67     f

In [24]:
df2=pd.DataFrame({'id':[35,67],'class':['d','f']})

In [26]:
pd.concat([df,df1],keys=['df','df2'])

       id class
df  0   1     a
    1   3     s
    2  35     d
    3  67     f
df2 0   1     a
    1   3     b
    2  35     c
    3  67     d